.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__logo p {
    color: #3d3d3d;
    font-size: 46px;
    font-weight: 700;
}

.footer__links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #3d3d3d;
    font-size: 20px;
}

.footer__links li {
    cursor: pointer;
}

.footer__socials-icon {
    display: flex;
    gap: 20px;
}

.footer__icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #2e2e2e;
}

.footer__copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c0c0c0;
}